<h1> Incidents </h1>

<table >
  <tr>
    <th>incident_id</th>
    <th>problem_id</th>
    <th>host</th>
    <th>service</th>
    <th>status</th>
  </tr>
  <tr>
    <% @incidents.each do |incident| %>
    <td><%= incident.id %></td>
    <td><%= incident.problem_id %></td>
    <td><%= incident.host_id %></td>
    <td><%= incident.service_id %></td>
    <td><%= incident.open %></td>
    <% end %>
  </tr>
</table>
 <% if @incidents.empty? %>
    <em>No Incidents found</em>
 <% end %>
