<h1>Show Incident</h1>
Here : <%= @letme %>
<p>Me

<table>
  <tr>
    <th>incident_id</th>
    <th>problem_id</th>
    <th>host</th>
    <th>service</th>
    <th>status</th>
  </tr>
  <tr>
    <% @incidents.each do |incident| %>
      <td><%= incident.id %></td>
      <td><%= incident.problem_id %></td>
      <td><%= incident.host %></td>
      <td><%= incident.service %></td>
      <td><%= incident.status_id %></td>
    <% end %>
  </tr>
</table>