<h1>Show Incident</h1>

<table>
  <tr>
    <th>incident_id</th>
    <th>problem_id</th>
    <th>host</th>
    <th>service</th>
    <th>status</th>
  </tr>
  <tr>
    <td><%= @incident.incident_id %></td>
    <td><%= @incident.problem_id %></td>
    <td><%= @incident.host %></td>
    <td><%= @incident.service %></td>
    <td><%= @incident.status %></td>
  </tr>
</table>
